{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forecast</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forecast.css' %}">
</head>
<body>
    <div id="tempBox">
    {% csrf_token %}
    <h3><b>{{place}}</b></h5>
    <p>{{when}}</p>
    <h1><b>{{current}}°</b></h2>
    <h2>{{nature}}</h4>
    Precipitation: {{precip}}
    <br>
    Humidity: {{humid}}
    <br>
    Wind: {{wind}}
    </div>
</body>
</html>