{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    

</head>
<body>
    <header>
        <img src="{% static 'water.gif' %}" width=100%>
    </header>
    <div id="container">
        <div id="slogan">
            Predict your Tomorrow with us.
        </div>
        <form id="inputBox" method="post">
          {% csrf_token %}
            <label for="cityName">Enter the name of the city</label><br>
            <input type="text" id="cityName" name="location" placeholder="e.g: Seattle, Dubai">
            <button type="submit">Go</button>
        </form>
    </div>
    
</body>
</html>